#register{
  padding-top:7%;
}

.navbar-nav > li > a {
color : white;
}
.white{
color :white;
}

#postalSearch{
	padding-top: 10%;
	padding-bottom : 8%;
}



 .item-form{
	margin-top : 7%;
 }


#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(245, 235, 235, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(207, 49, 36, 1);
    border-width: 1px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(250, 250, 250, 1);
    background-color: rgba(207, 49, 36, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(242, 242, 242, 1);
    background-color: rgba(186, 43, 43, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 252, 252, 1);
    background-color: rgba(201, 24, 24, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #c91818;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #c91818;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #c91818;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #cf3124;
}

.content{
	width:95%;
	max-width:1000px;
	padding-top : 10px;
	margin:0 auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
	
	
	.logo{width:30%;
	min-width:104px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:inline-block;
	padding-top:8px;
	position:relative;
	float:left;
	
	}

	
	
	.tab-nav {
    width: 55%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    -webkit-transition: width 0.3s,bottom 0.5s;
    -moz-transition: width 0.3s,bottom 0.5s;
    -o-transition: width 0.3s,bottom 0.5s;
    transition: width 0.3s,bottom 0.5s;
    position: relative;
	margin-top : 0.5%;
}

.tab-nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.tab-nav ul li {
    width: 150px;
    float: left;
    text-align: center;
    font-weight: bold;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.tab-nav ul li:last-child a {
    padding-top: 12px;
    border-right: 1px solid #ab3427
}

.tab-nav ul li a {
    height: 60px;
    padding-top: 10px;
    display: block;
    border-left: 1px solid #ab3427;
    color: #fff;
    font-size: 11px;
    font-size: 1.1rem;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}

.bmt{
margin-top : 5%;
}

.tab-nav ul li a:hover {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}

.tab-nav ul li.is-active+.item a,.tab-nav ul li:hover+.item a {
    border-left: 1px solid #8a2516
}

.tab-nav ul li.is-active:last-child a,.tab-nav ul li:hover:last-child a {
    border-right: 1px solid #8a2516
}

.tab-nav ul li.is-active a,.tab-nav ul li:hover a {
    border-left: 1px solid #8a2516;
    text-shadow: none;
    background-color: #952a1e
}

.tab-nav ul li a:before,.tab-nav ul li a .before {
    content: '';
    display: block;
    margin: 0 auto 1px;
    clear: both;    
    -webkit-background-size: 55px 50px;
    -moz-background-size: 55px 50px;
    -o-background-size: 55px 50px;
    background-size: 55px 50px;
    background-repeat: no-repeat
}
.itemslist{
	margin-top: 5%;
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#postalSearch{
		padding-top: 22%;
	}
	
	#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar, 
	#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar{
		background-color: #fff;
	}
	
	#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar{
		background-color: #fff;
	}
	
	.bmt{
		margin-top : 2%;
	}
	
	.tab-nav{
		width : 100%;
	}
	
	#register{
	  padding-top:20%;
	}
	button.at-social-btn{
		font-size : 14px;
	}
	.at-title h3{
		font-size : 15px;
	}
	
	 .item-form{
		margin-top : 25%;
	}		
	.itemslist{
		margin-top: 8%;
	}

}



@media only screen and (max-width : 320px) {
	.bmt{
		margin-top : 2%;
	}
}

