<template name="addressForm">
	<div  id = "postalSearch"  class="container-fluid">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Pick your neighbourhood<small></small></h3>
			 			</div>
			 			<div class="panel-body">
			    		<form action="#" role="form" id="postalForm">
			    			<div class="form-group">
									<input type="text" id="postalCode"  class="form-control input-lg" placeholder="Enter your postal code" required />
			    			</div>
											
							
  						</form>
						
						 <form role="form" id="address">
				    			<div class="row">
										<div class="col-xs-6 col-sm-6 col-md-6">
											<div class="form-group">
												<input type="text" name="unit" id="unit" class="form-control input-sm" placeholder="Unit #">
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6">
											<div class="form-group">
												<input type="text" name="blk" id="blk" class="form-control input-sm" placeholder="Block">
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12">
											<div class="form-group">
												<input type="text" name="street" id="street" class="form-control input-sm" placeholder="Street Name">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12">
											<div class="form-group">
												<input type="text" name="building" id="building" class="form-control input-sm" placeholder="Building Name">
											</div>
										</div>
									</div>

									

				    			 <a href="#"  class="btn btn-success btn-block register"> Submit </a>
								 
								 

				    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>
</template>
