<template name="chat_input">
                <div class="panel-footer">
                    <div class="input-group">
                        <textarea id="btn-input" data-autoresize rows="2" class="form-control input-sm" placeholder="Type your message here.."></textarea>
                        <span class="input-group-addon">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
</template>    
