<template name="chat">
    {{> sAlert}}
   {{> chatNav}}
  <div class="container">
     <!-- <div class="row" id="itmDtl">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-bookmark"></span> {{item.itemName}}
                </div>
            <div class="panel-collapse collapse in" id="collapseOne">
              <div class="col-md-12 col-sm-6">
  								<div  class="thumbnail">
  										<img src={{item.url}} alt=""/>
  										<div class="caption">
  												<h3>{{item.itemName}}</h3>
  												<p>{{item.itemDesc}}</p>
  										</div>
  								</div>
  						</div>
            </div>
            </div>
        </div>
      </div>
      <div class="row" id="itmDiscuss">
          <div class="col-md-12">
              <div class="panel panel-primary">
                  <div class="panel-heading" id="accordion">
                      <span class="glyphicon glyphicon-comment"></span> Discuss about {{item.itemName}}.
                  </div>
              <div class="panel-collapse collapse in" id="collapseTwo">

                  {{> discussions}}
                 {{> chat_input}}

              </div>
              </div>
          </div>
          <div class="col-md-3"></div>
      </div>-->
	  <div class="row product-info full">
			<!-- Left Starts -->
				<div class="col-sm-2 col-sm-offset-1 images-block">
					<a href="#">
						<img src={{item.url}} alt="Image" class="img-responsive thumbnail">
					</a>
					
				</div>
			<!-- Left Ends -->
			<!-- Right Starts -->
				<div class="col-sm-8 product-details">
					<div class="panel-smart">
					<!-- Product Name Starts -->
						<h2>{{item.itemName}}</h2>
					<!-- Product Name Ends -->
						<hr>
					<!-- Manufacturer Starts -->
						<ul class="list-unstyled manufacturer">
							<li>
								<span>Brand:</span> Indian spices
							</li>
							<li><span>Model:</span> SKU012452</li>
							<li><span>Reward Points:</span> 300</li>
							<li>
								<span>Availability:</span> <strong class="label label-danger">Out Of Stock</strong>
							</li>
						</ul>
					<!-- Manufacturer Ends -->
						<hr>
					<!-- Price Starts 
						<div class="price">
							<span class="price-head">Price :</span>
							<span class="price-new">$199.50</span> 
							<span class="price-old">$249.50</span>
							<p class="price-tax">Ex Tax: $279.99</p>
						</div>
					 Price Ends 
						<hr>-->
					<!-- Available Options Starts -->
						<div class="options">
							<h3>Enter your Message Here</h3>
							<!--<div class="form-group">
								<label for="select" class="control-label text-uppercase">Select:</label>
								<select name="select" id="select" class="form-control">
									<option value="1" selected="">Select</option>
									<option value="2">Option 1</option>
									<option value="3">Option 1</option>
								</select>
							</div>	
							<div class="form-group">
								<label class="control-label text-uppercase">Radio:</label>
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
										Option one is this and that—be sure to include why it's great
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
										Option two can be something else and selecting it will deselect option one
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label text-uppercase">Checkbox:</label>
								<div class="checkbox">
									<label>
										<input type="checkbox" value="">
										Option one is this and that—be sure to include why it's great
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" value="" checked="">
										Option two is checked
									</label>
								</div>
							</div>-->
							<div class="form-group">
								<label class="control-label text-uppercase" for="input-quantity"></label>
								<textarea class="form-control" rows="3"></textarea>
							</div>
							<div class="cart-button button-group">
								<button type="button" title="" class="btn btn-wishlist" data-original-title="Wishlist">
									<i class="fa fa-heart"></i>
								</button>
								<button type="button" title="" class="btn btn-compare" data-original-title="Compare">
									<i class="fa fa-bar-chart-o"></i>
								</button>
								<button type="button" class="btn btn-cart">
									Add to cart
									<i class="fa fa-shopping-cart"></i> 
								</button>									
							</div>
						</div>
					<!-- Available Options Ends -->
					</div>
				</div>
			<!-- Right Ends -->
			</div>
  </div>
  
  

</template>
