<template name="chat">
   
   
   <!-- Sidebar -->
   <div id="wrapper">
        <div id="sidebar-wrapper">
		
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  
                </li>
				{{#each conversations}}
				<li>
					<a href="#" data-id="{{this.type.id}}" class="chatUser">{{this.type.user}}</a>
				</li>
				{{/each}}
               <!-- <a href="#show-chat" class="btn btn-default"  style="margin:10px;" id="show-chat">Close </a>-->
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
  <div class="container" id="page-content-wrapper">
     <!-- <div class="row" id="itmDtl">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-bookmark"></span> {{item.itemName}}
                </div>
            <div class="panel-collapse collapse in" id="collapseOne">
              <div class="col-md-12 col-sm-6">
  								<div  class="thumbnail">
  										<img src={{item.url}} alt=""/>
  										<div class="caption">
  												<h3>{{item.itemName}}</h3>
  												<p>{{item.itemDesc}}</p>
  										</div>
  								</div>
  						</div>
            </div>
            </div>
        </div>
      </div>
      <div class="row" id="itmDiscuss">
          <div class="col-md-12">
              <div class="panel panel-primary">
                  <div class="panel-heading" id="accordion">
                      <span class="glyphicon glyphicon-comment"></span> Discuss about {{item.itemName}}.
                  </div>
              <div class="panel-collapse collapse in" id="collapseTwo">

                  {{> discussions}}
                 {{> chat_input}}

              </div>
              </div>
          </div>
          <div class="col-md-3"></div>
      </div>-->
	  <div class="row product-info full">
			<!-- Left Starts -->
				
				<div class="col-sm-3 images-block">
					<a href="#">
						<img src={{item.url}} alt="Image" class="img-responsive thumbnail">
					</a>
					<a href="#show-chat" class="btn btn-default visible-xs" id="show-chat">Show Conversations</a>
				</div>
			<!-- Left Ends -->
			<!-- Right Starts -->
				<div class="col-sm-6 product-details">
					<div class="panel-smart">
					<!-- Product Name Starts -->
						<h2>{{item.itemName}}</h2>
					<!-- Product Name Ends -->
						<hr>
					<!-- Manufacturer Starts -->
						<ul class="list-unstyled manufacturer">
							<li>
								<span>Description:</span> {{item.itemDesc}} 
							</li>
							<li><span>Model:</span> SKU012452</li>
							<li>
								<span>Availability:</span> <strong class="label label-danger">Out Of Stock</strong>
							</li>
						</ul>
					<!-- Manufacturer Ends -->
						<hr>
					
					<!-- Available Options Starts -->
						<div class="options">
								
							
							<div class="cart-button button-group">
								<button type="button" title="" class="btn btn-wishlist" data-original-title="Wishlist">
									<i class="fa fa-heart"></i>
								</button>
								
								<button type="button" class="btn btn-cart">
									Borrow
									<i class="fa fa-shopping-cart"></i> 
								</button>									
							</div>
						</div>
						
						
						<div id = "itmDiscuss" >
						{{#if showConversation}}
							<h3>Enter your Message Here</h3>
							{{> chat_input}}
								
						{{/if}}						 
						</div>
						 {{> discussions}}
						
					<!-- Available Options Ends -->
					</div>
				</div>
			<!-- Right Ends -->
			<div class="col-sm-3 col-xs-8" id="selectedConversation" style="display:none">
					<div id="chat-messages">
					{{#each selectedConversation}}
						<div id={{this.conversationId}} class="panel-collapse collapse in ">
						
						
						<div class="chat-body clearfix">
							<div class="header">				
								<span class="glyphicon glyphicon-time"></span>{{this.creation_date}}							
							</div>
							<p>{{this.message}}</p>
						</div>						
						
						</div>
						{{/each}}
					</div>
					{{> chat_input}}
				</div>
			</div>

		
  </div>
  </div>
  
  

</template>
