<template name="chat_input">
                <div >
                    <div class="input-group">
                        <textarea id="_textarea" data-autoresize rows="2" class="form-control input-sm" placeholder="Type your message here.."></textarea>
                        <span class="input-group-addon">
                            <button class="btn btn-warning btn-sm" id="btn-chat" data-id="{{this.type.id}}" >
                                Send</button>
                        </span>
                    </div>
                </div>
</template>    
