<template name="discussions">
<div class="panel-body" id="discussionContainer">
    <!-- <div id="scrollContainer" class="scroll-container">
    {{#each discussions}}
    <ul class="chat">

        <li class="{{#if isUsersMessage user}}right clearfix{{else}}left clearfix{{/if}}">
           <span class="{{#if isUsersMessage user}}chat-img pull-right{{else}}chat-img pull-left{{/if}}">
             <img src="{{#if isUsersMessage user}}http://placehold.it/50/55C1E7/fff&text=ME{{else}}http://placehold.it/50/55C1E7/fff&text=U{{/if}}" alt="User Avatar" class="img-circle" />
            </span>
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="{{#if isUsersMessage user}}pull-right primary-font{{else}}primary-font{{/if}}">{{userToDisplay}}</strong>
                    <small class="{{#if isUsersMessage user}}pull-right text-muted{{else}} text-muted{{/if}}">
                        <span class="glyphicon glyphicon-time"></span>{{createdDateTime}}
                    </small>
                </div>
                <p>{{message}}</p>
            </div>
        </li>
    </ul>
    {{/each}}
        </div>-->
		
	<!--<div class="bs-example">
    <div class="panel-group" id="accordion">
		{{#each discussions}}
		<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href=#{{conversationId}}>{{user}}</a>
					</h4>
				</div>
				<div id={{conversationId}} class="panel-collapse collapse in">
					<div class="panel-body">
						<p>{{message}}</p>
					</div>
				</div>
			</div>
		{{/each}}       
    </div>	
	</div>-->
	<div class="bs-example">
    <div class="panel-group" id="accordion">
		{{#each conversations}}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href=#{{this.type.id}}>{{this.type.user}}</a>
					</h4>
				</div>
				<div id={{this.type.id}} class="panel-collapse collapse in">
					<div class="panel-body">
					{{#each this.name}}
						<div class="chat-body clearfix">
							<div class="header">				
								<span class="glyphicon glyphicon-time"></span>{{this.creation_date}}							
							</div>
							<p>{{this.message}}</p>
						</div>						
					{{/each}}
					</div>
					{{> chat_input}}
				</div>
				
			</div>
		{{/each}}
	</div>
	</div>
</div>
</template>
