<template name="greywrap">
	<div id="greywrap" class="container">
		<div class="row">
			<div class="col-lg-4 callout">
				<h2>Mission</h2>
				<p>Our mission is to network neighbours so that you can discover your neighbourhood like never before.
					We are starting this journey with a simple, safe and secure sharing network for your neighbourhood.</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4 callout">
				<h2>How it works?</h2>
				<div class="embed-responsive embed-responsive-4by3">
				  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
				</div>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4 callout">
				<h2>Crafted with Love</h2>
				<p>We only do things that we love.   </p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
	</div><!-- greywrap -->


</template>
