
<template name="greywrap">
<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="row">
				<div class="col-lg-4 callout">
					
					<h2>Mission</h2>
					<p>Bringing neighbours together. </p>
				</div><!-- col-lg-4 -->
					
				<div class="col-lg-4 callout">
				
					
					<h2>How it works?</h2>
					<div class="embed-responsive embed-responsive-4by3">
					  <iframe class="embed-responsive-item" src="http://techslides.com/demos/sample-videos/small.mp4"></iframe>
					</div>
					
					
				</div><!-- col-lg-4 -->	
				
				<div class="col-lg-4 callout">
					
					<h2>Crafted with Love</h2>
					<p>We only do thing that we love.   </p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->
		</template>