<template name="itemslist">
	{{> loginNav}}

	<div class="container">
			<div class="row">
					<div class="col-lg-12">
							<h3>Items Available For Borrowing In Your Neighbourhood</h3>
					</div>
			</div>
			<div class="row-fluid">
							{{#each images}}
						<div class="col-md-3 col-sm-6 hero-feature">
								<div  class="thumbnail">
										<img src={{this.url}} alt=""/>
										<div class="caption">
												<h3>{{this.metadata.itemName}}</h3>
												<p>{{this.metadata.itemDesc}}</p>
												<p>
														<a href="#" id="btn-interest" class="btn btn-success">Interested</a> <a href="#" class="btn btn-default">More Info</a>
												</p>
										</div>
								</div>
						</div>
					  {{/each}}
		</div>
	</div>
	{{> chat}}
</template>

<template name="chat">
	<div id="chat" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
			something something
	</div>
</template>
