<template name="itemSearch">
	<div id="headerwrap" class="container">
		<header class="clearfix">
			<div  class="container-fluid">
		        <div class="row centered-form">
							<p class="p_text_shadow"><strong>Share items with your neighbours</strong></p>
	        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
		        	<div class="panel panel-default">
		        		<div class="panel-heading">
					    		<h3 class="panel-title">Enter an item you wish to borrow.<small></small></h3>
					 			</div>
					 			<div class="panel-body">
					    		<form ole="form">
					    			<div class="form-group">
											<input type="text" id="itemDesc" name="itemDesc" class="form-control input-lg" placeholder="e.g. Toolbox" required />
											<p><span class="help-block">{{errorMessage 'itemDesc'}}</span></p>
										</div>
										<a href="{{pathFor 'borrow'}}" id="borrow" class="btn btn-lg btn-success custom-btn-size"> Borrow <span class="glyphicon glyphicon-circle-arrow-left"></span></a>
					    		</form>
									<div class="row">
										<label class="">Have things to Lend?</label><a href="{{pathFor 'lend'}}"   id="lend"><span class="text-info"><strong> <u>Start Here</u></strong></span></a>
									</div>
					    	</div>
			    		</div>
		    		</div>
		    	</div>
		    </div>
	</header>
	</div>
	{{> greywrap}}
</template>
