<template name="itemslist">

	

	<div class="container itemslist well">
		<div class="row">
					<div class="col-lg-offset-2 col-lg-9">
							<h3>Items Available For Borrowing In Your Neighbourhood</h3>
					</div>
		</div>
		
		<div class="row">
		{{#each images}}
			<div class="col-xs-12">
							<div class="product-col list clearfix">
								<div class="image col-md-3 images-block">
									<img id="image" data-id="{{this._id}}"  src={{this.url}} alt="product" class="img-responsive thumbnail crp">
								</div>
								<div class="caption">
									<h4><a id="btnInterested" class="crp" data-id="{{this._id}}">{{this.itemName}}</a></h4>
									<div class="description">
										{{this.itemDesc}}
									</div>
									
									<div class="cart-button button-group">
										<button type="button" title="" class="btn btn-wishlist" data-original-title="Wishlist">
											<i class="fa fa-heart"></i>
										</button>
										<button type="button" title="" class="btn btn-compare" data-original-title="Compare">
											<i class="fa fa-bar-chart-o"></i>
										</button>
										<button type="button" class="btn btn-cart">
											Borrow
											<i class="fa fa-shopping-cart"></i> 
										</button>									
									</div>
								</div>
							</div>
						</div>
						
						{{/each}}
		</div>
		<button class="btn btn-success give-me-more">Load More</button>
	</div>

</template>
