	
	<template name="itemSearch">
	<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap" >
		<br><br>
			<header class="clearfix">
	  		 		<p>Enter the item you want to borrow or lend </p>
					<div class="row">
					<div class="col-sm-4 col-xs-2"></div>
					<div class="col-sm-4 col-xs-8">
					<form>
        <div class="input-group {{errorClass 'itemDesc'}}">
			<input type="text" id="itemDesc" name="itemDesc" class="form-control input-lg" />
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
			<span class="help-block">{{errorMessage 'itemDesc'}}</span>
        </div>
		
		</form>
			
    </div>
					<div class="col-sm-4 col-xs-2"></div>
					</div>
					<br>
					<div class="row">
					<div class="col-sm-3 col-xs-1"></div>
					<div class="col-sm-6 col-xs-10">
						<a href="{{pathFor 'lend'}}"  id="lend" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-circle-arrow-right"></span> Lend</a>
						<a href="{{pathFor 'borrow'}}" id="borrow" class="btn btn-lg btn-info"> Borrow <span class="glyphicon glyphicon-circle-arrow-left"></span></a>
					</div>
					<div class="col-sm-3 col-xs-1"></div>
					</div>
					

					
	  		</header>	    
	    </div><!-- /headerwrap -->
		</template>