<template name="itemslist">
	{{> loginNav}}
	<div class="container-fluid itemslist well">
			<div class="row-fluid">
					<div class="col-lg-12">
							<h3>Items Available For Borrowing In Your Neighbourhood</h3>
					</div>
			</div>
			<div id="wrapper">
				<div id="list" class="row-fluid">
						{{#each images}}
						<div class="item">
								<div class="thumbnail">
										<img src={{this.url}} alt=""/>
										<div class="caption">
												<h3>{{this.metadata.itemName}}</h3>
												<p>{{this.metadata.itemDesc}}</p>
												<p>
														<a href="#" class="btn btn-success">Interested</a> <a href="#" class="btn btn-default">More Info</a>
												</p>
										</div>
								</div>
						</div>
					  {{/each}}
				</div>
		</div>
	</div>
</template>
