<template name="itemSearch">
	<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Sharing with Neighbours</h1>
                <br>
                     <h3 class="section-heading">Enter an item to borrow</h3>
               <div class="input-group">
                    <input id="itemDesc" type="textbox" name="itemDesc" class="form-control input-lg " placeholder="e.g. Toolbox" required="">
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-lg wow tada" type="button" id="borrow">Borrow <span class="glyphicon glyphicon-circle-arrow-left"></span></button>
                    </span>
                </div>
                <br>
                <br>
                <h3 class="section-heading">Have things to Lend? <a href="{{pathFor 'lend'}}" class="btn btn-primary btn-lg page-scroll wow tada">Start here</a></h3>
            </div>
        </div>
    </header>
	{{> greywrap}}
</template>
