	
<template name="lendItem">


	<div class="container item-form well">
		<form class="form-horizontal">
			<fieldset>

			<!-- Form Name -->
			<legend>Item Details</legend>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="itemName">Item Name</label>  
			  <div class="col-md-4">
			  <input id="itemName" name="itemName" type="text" placeholder="Item Name" class="form-control input-md" required="Please enter item name">
				
			  </div>
			</div>

			<!-- Textarea -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="itemDesc">Item Description</label>
			  <div class="col-md-4">                     
				<textarea class="form-control" id="itemDesc" name="itemDesc" placeholder="Please enter description" required="Please enter item name"></textarea>
			  </div>
			</div>
			
			<div class="form-group">
			  <label class="col-md-4 control-label" for="uploadActions"></label>
			  <div class="col-md-2">                     
				<div id="actions" class="row">

				  <div class="col-lg-7">
					<!-- The fileinput-button span is used to style the file input field as button -->
					<span class="btn btn-success fileinput-button dz-clickable">
						<i class="glyphicon glyphicon-plus"></i>
						<span>Add files...</span>
					</span>
				   
				  </div>

				  <div class="col-lg-5">
					<!-- The global file processing state -->
					<span class="fileupload-process">
					  <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="opacity: 0;">
						<div class="progress-bar progress-bar-success" style="width: 100%;" data-dz-uploadprogress=""></div>
					  </div>
					</span>
				  </div>

				</div>
			  </div>
			  <div class="col-md-2">                     
				 <a href="#" class="takePhoto btn btn-primary visible-xs">take photo</a>
			  </div>
			 
			</div>
			<img class="photo">
			
				<div class="table table-striped files" id="previews">
 
  <div id="template" class="file-row">
    <!-- This is used as the file preview template -->
    <div>
        <span class="preview"><img data-dz-thumbnail /></span>
    </div>
    <div>
        <p class="name" data-dz-name></p>
        <strong class="error text-danger" data-dz-errormessage></strong>
    </div>
    <div>
        <p class="size" data-dz-size></p>        
    </div>
    <div>
     <button data-dz-remove class="btn btn-danger cancel">
          <i class="glyphicon glyphicon-trash"></i>
          <span>Delete</span>
      </button>     
    </div>
  </div>
 
</div>

			
			
			<!-- Button -->	
			<div class="form-group">
			  <label class="col-md-4 control-label" for="singlebutton"></label>
			  <div class="col-md-4">
				<button id="singlebutton" name="singlebutton" class="btn btn-success btn-lg">Lend</button>
			  </div>
			</div>

			</fieldset>
		</form> 
	   
		 
		
		 

	</div>
	
	
</template>








