<template name="postalsearch">
<!-- ==== HEADERWRAP ==== -->
	<div id="postalSearch" class="container-fluid">
		<br><br>
		<header class="clearfix">
			<div class="row">
				<div class="col-sm-3 col-xs-8 col-sm-offset-4 col-xs-offset-2">
					<div class="input-group input-group-lg">
						<input type="text" class="form-control input-lg"  placeholder="Postal Code"/>
						<span class="input-group-addon">
							<i class="fa fa-search"></i>
						</span>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-6 col-xs-8 col-sm-offset-5 col-xs-offset-3">
					<a href="{{pathFor 'search'}}" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-circle-arrow-right"></span> Search</a>						
				</div>				
			</div>					
		</header>	    
	</div><!-- /headerwrap -->
</template>