	
	<template name="postalsearch">
	<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap" >
		<br><br>
			<header class="clearfix">
	  		 		<p>Enter the Postal code </p>
					<div class="row">
					<div class="col-sm-3 col-xs-2"></div>
					<div class="col-sm-6 col-xs-8">
        <div class="input-group">
            <input type="text" class="form-control input-lg" />
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </div>
					<div class="col-sm-3 col-xs-2"></div>
					</div>
					<br>
					<div class="row">
					<div class="col-sm-3 col-xs-1"></div>
					<div class="col-sm-6 col-xs-10">
						<a href="{{pathFor 'search'}}" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-circle-arrow-right"></span> Search</a>
						
					</div>
					<div class="col-sm-3 col-xs-1"></div>
					</div>
					

					
	  		</header>	    
	    </div><!-- /headerwrap -->
		</template>