<template name="register">
	<div id="register" class="container-fluid">
					<div class="row centered-form">
					<p class="p_text_shadow"><strong>Sorry, no matches found .</strong></p>
			    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
	        	<div class="panel panel-default">
	        		<div class="panel-heading">
				    		<h3 class="panel-title">Register now to notify your neighbours.<small> It's free!</small></h3>
				 			</div>
				 			<div class="panel-body">
				    		
							{{>atForm}}
				    	</div>
		    		</div>
	    		</div>
	    	</div>
	    </div>
</template>
